@import "../../vars";

.btn {
  background-color: rgb(35, 34, 74);
  color: $font_color_primary;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover, &:focus {
    transform: scale(1.05);
    box-shadow: 0 2px 5px $card_background_active;
  }
  &:active {
    transform: scale(0.95);
  }
  &:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
  }
}