@import "../../../vars";

.wrapper {
  min-width: 20%;
  width: fit-content;
  margin: 10px;
}

.city {
  background-color: $card_background_main;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 2px 5px $card_background_active;
    transform: translateY(-10px);
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 10px;
  }
}

.icon {

}

.cityName {
  font-size: $font_size_title;
  margin-bottom: 10px;
}

.description {
  font-size: $font_size_text_base;
  color: $font_color_secondary;
  margin-bottom: 10px;
}

.temp {
  font-size: $font_size_title;
  font-weight: bold;
}

.inputChange {
  background-color: rgb(35, 34, 74);
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px 15px;
  width: 100%;
  border: none;
  outline: none;
  color: $font_color_secondary;

}

.changeWrapper {
  text-align: center;
  max-width: 500px;
  h4 {
    font-size: $font_size_title;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.changeActions {
  button {
    margin-left: 10px;
  }
}