@import "../../vars";
@import "../../mixins-media";

.citiesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px 15px;
  @include Laptop-1024 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include Tablet-768 {
    grid-template-columns: 1fr 1fr;
  }
  @include MobileL-425 {
    grid-template-columns: 1fr;
  }
}