@import "../../vars.scss";


.search {

}

.wrapper {
  display: flex;
  justify-content: center;
}

.inputSearch {
  background-color: rgb(35, 34, 74);
  margin-right: 15px;
  border-radius: 10px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 100%;
  label {
    margin-right: 15px;
    img {
      width: 20px;
      height: 20px;
    }
  }
  input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: $font_color_secondary;
    font-size: $font_size_text_base;
  }
}

.isIncludesWrapper {
  text-align: center;
  h4 {
    font-size: $font_size_title;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  button {
    background-color: rgb(35, 34, 74);
    color: $font_color_primary;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    margin: 5px 5px 15px 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px $card_background_active;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}