$body_background: rgb(5, 5, 31);

$card_background_main: rgb(23, 22, 62);
$card_background_active: rgb(28, 132, 229);

$font_color_primary: #fff;
$font_color_secondary: rgb(206, 206, 216);
$font_size_title: 24px;
$font_size_text_base: 18px;
